button{
    width:200px;
    height: 200px;
}

.container{
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    width: 600px;
    margin: auto;
    background: blue;
}
